*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  width: 100vw;
}
Col{
  width: 50vw;
}
input, select, button{
  margin: 10px;
}
.icone_bt{
  color: rgb(255, 255, 255);
}
.icone{
  color: rgb(16, 80, 255);
}
input:invalid{
  border: 1.5px solid red;
}
/* button{
  color: white;
  background-color: green;
  cursor: pointer;
  padding: 3px;
  border: 1px solid rgb(255, 255, 255);
} */
@media (max-width: 1000px) {
  .container{
    display: block;
  }
  .col-6{
    width: 100%;
    padding: 10px;
  }
}
